In [1]:
import pandas as pd

df = pd.read_csv("Students_exams.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [2]:
df.rename(columns={
        'math score': 'math_score', 
        'reading score': 'reading_score',
        'writing score': 'writing_score',
    }, inplace=True
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math_score     1000 non-null   int64
 2   reading_score  1000 non-null   int64
 3   writing_score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [3]:
statics_df = pd.DataFrame(columns=['statics','math','reading', 'writing'])

In [4]:
x = df['math_score'].count()
y = df['reading_score'].count()
z = df['writing_score'].count()

row = {'statics':'Count', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [5]:
x = df['math_score'].min()
y = df['reading_score'].min()
z = df['writing_score'].min()

row = {'statics':'Min', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [6]:
x = df['math_score'].max()
y = df['reading_score'].max()
z = df['writing_score'].max()

row = {'statics':'Max', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [7]:
x = df['math_score'].mean()
y = df['reading_score'].mean()
z = df['writing_score'].mean()

row = {'statics':'Mean', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [8]:
x = df['math_score'].median()
y = df['reading_score'].median()
z = df['writing_score'].median()

row = {'statics':'Median', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [9]:
x = df['math_score'].std()
y = df['reading_score'].std()
z = df['writing_score'].std()

row = {'statics':'Std', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [10]:
x = df['math_score'].mode()[0]
y = df['reading_score'].mode()[0]
z = df['writing_score'].mode()[0]

row = {'statics':'Mode', 'math':x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index=True)
statics_df = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index=True)

In [11]:
statics_df

  statics      math    reading    writing
0   Count      1000       1000       1000
1     Min         0         17         10
2     Max       100        100        100
3    Mean    66.089     69.169     68.054
4  Median      66.0       70.0       69.0
5     Std  15.16308  14.600192  15.195657
6    Mode        65         72         74